* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.background {
    background: rgb(90, 78, 78);
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}


.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

h1{
    color: firebrick;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    font-style: oblique;
}

body{
    background-color: linen;
  }
  
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 780px;
      margin-top: 50px;
      margin-left: 340px;
      box-shadow:  rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    th {
      border: 1px solid black;
      text-align: left;
      padding: 20px;
      color: brown;
    }
    
    td {
        border: 1px solid black;
        text-align: left;
        padding: 10px;
      }
    
    tr {
      background-color: white;
    }
    .searchbox{
        color: firebrick;
        align-items: right;
        justify-content: right;
        display: flex;
        margin-top: 65px;
        margin-right: 350px;
        height: 30px;
        
    }